.Aibackground{
    margin: auto;
    padding: 10px 10px 10px 10px;
}
.social{
justify-content: flex-start;    

}
.Aibackground2{
    padding: 70px  70px;

}
.Ai_background{
    font-family:'Times New Roman', Times, serif;
}
i{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

   
